@{
  Layout = "_Layout";
}
<div id="color">
  <div class="container">
    <h1>Welcome To The Salon! .</h1>
    <div id="button">
    <p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
    <p>@Html.ActionLink("See all stylist", "Index", "Stylists")</p>
    </div>
  </div>
</div>

<div id="img"></div>
